<header>
    <div class="text-container">
        <h1 class="title-header">Acerca de</h1>
        <h2 class="title-hdr">Nosotros</h2>
        <h4>Porque Nos Gusta Que Nos Conozcan</h4>
        
    </div>
</header>

<section class="one">
    <div class="content-one">
        <h1 class="mb-1">Nuestra Historia</h1>

        <p>nuestro restaurante de mariscos, un proyecto universitario que nació de la pasión de un grupo de estudiantes
            universitarios por la comida fresca del mar. Nuestro objetivo es ofrecer a nuestros clientes una experiencia
            única y auténtica con los mejores mariscos frescos y de alta calidad</p>
    </div>
    <div class="image-container">
        <div class="image">
            <img class="terraza" src="../assets/images/history.png" alt="">
        </div>
    </div>
</section>

<section class="two">
    <div class="content-two">
        <div>
            <img class="img2" src="../assets/images/langosta.jpg" alt="">
        </div>
    </div>
    <div class="text">
        <h2>Misión y Valores</h2>
        <p>Nos dedicamos a proporcionar a nuestros clientes una experiencia gastronómica única con mariscos frescos
            y de alta calidad, mientras nos enfocamos en la innovación y la creatividad en la cocina. Nos esforzamos
            por trabajar con los mejores proveedores locales para asegurarnos de que nuestros ingredientes sean
            siempre frescos, sostenibles y de origen ético.</p>
    </div>
</section>


<section class="three">
    <div class="three-content">
        <div class="three-img">
            <iframe width="560" height="417" [src]="video | domseguro:'https://www.youtube.com/embed/' " frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

        </div>
        <div class="three-text">
            <h2>Nuestro <br><br> Compromiso Con <br><br> La Comunidad</h2>
            <p>Nos dedicamos a apoyar a nuestra comunidad local y a promover prácticas sostenibles. Trabajamos con
                proveedores locales para asegurarnos de que nuestros ingredientes sean frescos y sostenibles, y apoyamos
                a organizaciones locales que se enfocan en la protección del medio ambiente y la pesca responsable.
                También estamos comprometidos en brindar oportunidades de empleo y desarrollo profesional para los
                estudiantes universitarios interesados en la industria de la gastronomía y la restauración</p>
        </div>
    </div>
</section>
